html, body{
    width:100%;
    height:100%;
    font-family: "Gill Sans", sans-serif;
}

header{
    width:1920px;
    height:54px;
    border:1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #2F4F4F;
}

main{
    width:1920px;
    height:1026px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card{
    width:880px;
    height:1026px;
    border:1px solid rgb(0, 0, 0);
    margin: 1px;
    background-color: #708090;
}

.bank_players{
    width:480px;
    height:1026px;
    border:1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    margin: 1px;
    background-color: #708090;
}

.bank{
    width:160px;
    height:54px;
    border:1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F4F4F;
}

.players{
    width:160px;
    height:54px;
    border:1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F4F4F;
}

.bank_players_update{
    width:160px;
    height:54px;
    border:1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F4F4F;
}

.mini_card_row{
    width:560px;
    height:1026px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    margin: 1px;
    background-color: #708090;
}

.mini_card{
    width:350px;
    height:256px;
    border:1px solid rgb(0, 0, 0);
    background-color: #708090;
}

.notes{
    width:210px;
    height:256px;
    border:1px solid rgb(0, 0, 0);
    font-size:10px;
    background-color: #708090;
}