{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link type="text/css" rel="stylesheet" href="{% static 'dm/css/styles.css' %}">
    </head>
    <body>
        <header>
            <h3 style="padding-left: 20px;">Главная</h3>
            <h3 style="padding-left: 20px;">Группы</h3>
            <h3 style="padding-left: 20px;">Вики</h3>
            <h3 style="padding-left: 20px;">Админская</h3>
            <h3 style="padding-left: 20px;">Моя карточка</h3>
        </header>

        <main>
            <div class="card">
            </div>
            <div class="bank_players">
                <div class="bank">
                    <h3>Банк</h3>
                </div>
                <div class="players">
                    <h3>Игроки</h3>
                </div>
                <div class="bank_players_update">
                    <h3>Обновить</h3>
                </div>
            </div>
            <div class="mini_card_row">
                <div class="mini_card">

                </div>
                <div class="notes">

                </div>
            </div>
        </main>
    </body>
</html>